<h1>Turning Videos</h1>
<div class="row">
  <div class="col-sm-4 col-md-4 resource-padding-20">
    <div class="resource-content">
      <img src="assets/module1-Intro.jpg" width="100%">
      <div class="resource-info">
        <p style="font-size: 19px"><b>Module1-Intro to DENTCA</b></p>
        <p style="font-size: 15px"> Introduction to the DENTCA System</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 resource-padding-20">
    <div class="resource-content">
      <img src="assets/Module2_TraySelection_0.jpg" width="100%">
      <div class="resource-info">
        <p style="font-size: 19px"><b>Module2-Tray Selection</b></p>
        <p style="font-size: 15px">Seleting the correct tray size...</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 resource-padding-20">
    <div class="resource-content">
      <img src="assets/Module3_Impression_0.jpg" width="100%">
      <div class="resource-info">
        <p style="font-size: 19px"><b>Module3-Impression Making</b></p>
        <p style="font-size: 15px">Impression taking using the DENTCA trays</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-md-4 resource-padding-20">
    <div class="resource-content">
      <img src="assets/Module4_biteReg.jpg" width="100%">
      <div class="resource-info">
        <p style="font-size: 19px"><b>Module4-Bite Registration</b></p>
        <p style="font-size: 15px">Bite Registration</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 resource-padding-20">
    <div class="resource-content">
      <img src="assets/Module5_Tryin.jpg" width="100%">
      <div class="resource-info">
        <p style="font-size: 19px"><b>Module5-Try in Session</b></p>
        <p style="font-size: 15px">Try-in seesion using the 3D printed prototype</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 resource-padding-20">
    <div class="resource-content">
      <img src="assets/Module6_Delivery.jpg" width="100%">
      <div class="resource-info">
        <p style="font-size: 19px"><b>Module6-Final Delivery</b></p>
        <p style="font-size: 15px">Final denture delivery</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4 resource-padding-20">
      <div class="resource-content">
        <img src="assets/Module7_SingleArch.jpg" width="100%">
        <div class="resource-info">
          <p style="font-size: 19px"><b>Module7-Single Arch Denture</b></p>
          <p style="font-size: 15px">Single Arch dentures</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 resource-padding-20">
      <div class="resource-content">
        <img src="assets/Module8_overdentures.jpg" width="100%">
        <div class="resource-info">
          <p style="font-size: 19px"><b>Module8-Implant Overdentures</b></p>
          <p style="font-size: 15px">Bite registration</p>
        </div>
      </div>
    </div>

  </div>
</div>