.content-middle {
    padding: 70px;
}

h1 {
    color: #444444;
}
a {
    font-size: 25px;
}
p {
    color: #444444;
}
a:hover {
    cursor: pointer;
}
li {
    list-style-type: none;
}
a.click-here {
    font-size: 16px;
}
