<div class="content-middle">
  <div class="row">
    <div class="col-md-9">
      <div class="content-title">
        <h1> Clinical Protocols</h1>
      </div>
      <ul>
        <li><a routerLink="/products/dentca-protocols/protocol1">A. Overview</a></li>
        <li><a routerLink="/products/dentca-protocols/protocol2">B. First appointment detailed protocols for Complete cases</a></li>
        <li><a routerLink="/products/dentca-protocols/protocol3">C. First appointment CBCT detailed protocols for Complete cases</a></li>
        <li><a routerLink="/products/dentca-protocols/protocol4">D. First appointment detailed protocols for Single Arch cases</a></li>
        <li><a routerLink="/products/dentca-protocols/protocol5">E. Try in appointment</a></li>
        <li><a routerLink="/products/dentca-protocols/protocol6">F. Final Delivery</a></li>
      </ul>
      <p>
        Have a CBCT scanner? Click <a class="click-here" routerLink="/products/dentca-protocols/protocol3">here</a> for simplified Complete and Single Arch CBCT steps.
      </p> 
    </div>
    <div class="col-md-3">
      <img src="assets/cbct.png" style="width: 80%; margin-top:80px;" />
    </div>
  </div>
</div>