<img src="assets/for_dentist.png" style="width:100%" />
<div class="content-middle">
  <h1>Why DENTCA</h1>
  <div class="benefits">
    <p>
      Create perfect smiles, reduce wait times and elevate your dental mastery!
    </p>
    <p>
      By using CAD/CAM technology, DENTCA is capable of reducing the manufacturing time and cost of making dentures. DENTCA only
      requires 1 patient visit before final denture delivery compared to 5 visits for conventional methods.
    </p>
    <p>
      The greatest benefits of using the CAD/CAM technology is:
    </p>
    <ul>
      <li>Save chair & labor time - approx. 1 hour (digital) vs. 5+hours (conventional)</li>
      <li>Processing time: Try in = 3 days, Final = 5 days</li>
      <li>Easy online ordering, no hardware or software needed</li>
      <li>Provide replacements or re-orders with no additional chair time (digitally saved)</li>
      <li>1-year product warranty</li>
    </ul>
  </div>
  <div class="notice">
    <p>
      Dentures brought to you in 3D
    </p>
    <p>
      By using CAD and CAM systems, DENTCA is capable of greatly reducing the manufacturing time and the cost of making the final
      dentures. DENTCA’s patented tray system captures VD, CR and bite all on the same tray as the impression, in the patients
      first visit. By reducing the number of visits, the total chair time is also reduced from three hours to only 45 minutes,
      meaning dentists can now save time and see more patients. Moreover, the processing time for DENTCA products takes about
      10 days on average, whereas conventional dentures require at least 30 days for production. Not only does DENTCA manufacture
      dentures at a rapid pace, but enhances the final denture quality due to 3D modeling and production techniques. Additonally,
      the 3D model is a permanent digital record DENTCA can always access in the event a replacement or additional set is
      needed. From start to finish, the cost-effectiveness and productivity of DENTCA denture solutions are in a league of
      their own, far beyond those of conventional denture products.
    </p>
    <p>
      Why wait any longer? Order your Starter Kit today and experience the difference!
    </p>
    <img src="assets/circle-graph.png" style="width:100%" />
  </div>
  <div class="results">
    <p>
      Get Twice the Results in Half the Time
    </p>
    <img src="assets/patient-visit.png" style="width:100%" />
    <ul>
      <li> 01- Patients take an initial impression of their gum on the first visit.</li>
      <li> 02- Patients are called back to the office for a custom tray impression.</li>
      <li> 03- Patients visit for VDO, VDR, and CR checkups, and for mounting and teeth set up.</li>
      <li> 04- Patients make a fourth visit for teeth try-ins and final processing.)</li>
      <li> 05- Patients receive the final and fitting denture during their fifth visit.</li>
    </ul>
    <p>
      On the other hand, DENTCA requires ONLY 1 PATIENT VISIT (to take the impression) before final denture delivery.
    </p>
    <p>
      Once we receive the impression from our doctors, the CAD system creates three-dimensional renderings of how the denture is
      going to look using the anatomical landmarks captured in the impression. The CAM system controls the mechanical tools
      and related machinery for 3D-printing the dentures. By taking away the human factor, these dentures are created in
      a shorter amount of time with the least margin of human error.
    </p>
  </div>
</div>