<div class="content-wrap">
  <div class="content-title">
    <h1>Impressions using DENTCA trays (Complete)</h1>
  </div>
  <div class="content-middle">
    <div class="row">
      <div class="col-md-10 col-sm-12">
        <ul>
          <li>
            Relieve areas where teeth are present with a hand piece and acrylic bur on a DENTCA tray.
          </li>
          <li>
            Take an impression using heavy body PVS material using a DENTCA tray.
          </li>
          <li>
            Enlarge the holes with a hand piece, and cover holes with dental wax and perform a wash using light body PVS material. Repeat with other arch.
          </li>
          <li>
            Remove impression overflow. Cut and separate the posterior parts of the tray.
          </li>
          <li>
             Repeat steps 1-4 with the mandibular arch.
          </li>
          <li>
            Clean Lower impression releasing the lingual grooves. Attach the tracing pin to the lower tray, until you feel it snap into place.
          </li>
          <li>
             Adjust the pin height to the desired VDO.
          </li>
          <li>
            Attach EZ tracer to upper tray & place both trays back in the patient’s mouth.
          </li>
          <li>
            Ask patient to perform protrusive and retrusive movements softly.

          </li>
          <li>
            Locate your desired CR point & create a dimple in which center will be the traced CR position.
          </li>
          <li>
            Seat trays into the mouth. Make sure the pin locks into the dimple and that the trays are not touching in the posterior section.
          </li>
          <li>
            Inject bite registration material between the trays.
          </li>
          <li>
            Remove the trays out of the mouth in one piece.
          </li>
          <li>
            Place lip ruler on the incisive papilla & record upper lip measurement, by looking at the numbers from eye level.(If measurement is not possible due to the presence of teeth, place it at estimated height outside the mouth and measure on top of the lip)
          </li>
          <li>
            Find out the desired gum and tooth shade by using a vita shade guide.
          </li>
          <li>
            Log into your account and place order online (If new to DENTCA you will need to register and create an account).

          </li>
          <li>
            Print order Sheet and shipping label and ship everything to DENTCA.
          </li>

        </ul>
      </div>
      <div class="col-md-2 col-sm-12">
        <img src="assets/img/dentca-immediate_protocols_complete.png" style="width: 100%; padding-left: 20px"/>
      </div>
    </div>
  </div>
  <div class="content-bottom">
    <p>
      Ready to place an order? Click here to go to our ordering page.
    </p>
    <p>
      Want to learn more about the next step? Click here to go to the DENTCA-4 product page.
    </p>
  </div>
</div>