<img src="assets/Dentca-4_product.png" style="width:100%" />
<div class="content-middle">
  <div class="content-title">
  <h1> DENTCA-4</h1>
  <ul>
    <li><a routerLink="/products/dentca-why">Why DENTCA 4</a></li>
    <li><a routerLink="/products/dentca-protocols">Clinical Protocols</a></li>
    <li><a routerLink="/products/dentca-faq">FAQ</a></li>
    <li><a routerLink="/products/dentca-become">Become a DENTCA 4 Center</a></li>
    <li><a routerLink="/products/dentca-app">DENTCA 4 Center Application</a></li>
    <li><a routerLink="/dentca-3d">DENTCA 4 Center Location</a></li>
    <li><a routerLink="/resources/training-video">DENTCA 4 Center Resources</a></li>
  </ul>
</div>