<div class="content-wrap">
  <div class="content-title">
    <h1>Final Delivery</h1>
  </div>
  <div class="content-middle">
    <div class="row">
      <div class="col-md-10 col-sm-12">
        <ul>
          <li>
            Remove abutments.
          </li>
          <li>
            Attach the bar screws onto the implants and tighten to 15 Ncm with the screwdriver and manual torque wrench (1.2mm).
          </li>
          <li>
            Seat the final restoration in the mouth and ask the patient to bite down with full force. (If patient does not have opposing
            dentition and full force biting is not possible, use manual pressure to seat denture as firmly as possible.)
          </li>
          <li>
            If delivering a set of upper and lower repeat steps 2 & 3 with the lower final restoration.
          </li>
          <li>
            Take DENTCA-4 out and tighten the bars to 30 Ncm with the screwdriver and manual torque wrench (1.2mm).
          </li>
          <li>
            Cement restoration to the bars utilizing temporary cement on the anterior bars only. Retain the final restoration posteriorly
            using the provided screws.
          </li>
          <li>
            Adjust occlusion and deliver the final restoration.
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-12">
        <img src="assets/img/dentca4_protocols_delivery.png" style="width: 100%; padding-left: 20px"/>
      </div>
    </div>
  </div>
  <div class="content-bottom">
    <p class="note">
      Note: If final restoration is not seating all the way. Leave the restoration in the patient's mouth for a week. Recall the patient after time has elapsed and tighten the bars again.
    </p>
    <p>
      Want to learn more about how a DENTCA-4 center can change the way you practice dentistry? Click <a class="click-here" routerLink="/products/dentca-become">here</a>.
    </p>
    <p>
      Have more clinical questions? Click <a class="click-here" routerLink="/products/dentca-faq">here</a> to go to our FAQ page.
    </p>
  </div>
</div>