<div class="navbar navbar-inverse navbar-fixed-left">
  <a class="navbar-brand nav-title" href="#">Dentca Admin</a>
  <ul class="nav navbar-nav">
   <li><a routerLink="/admin/orders"><p>Orders</p></a></li>
   <li><a routerLink="/admin/products"><p>Products</p></a></li>
   <li><a routerLink="/admin/user"><p>User</p></a></li>
   <li><a routerLink="/admin/crop-account"><p>Crop Account</p></a></li>
   <li><a routerLink="/admin/campaign"><p>Campaign</p></a></li>
   <li><a routerLink="/admin/coupon"><p>Coupon</p></a></li>
   <li><a routerLink="/admin/report"><p>Report</p></a></li>
   <li><a routerLink="/admin/configuration"><p>Configuration</p></a></li>
  </ul>
</div>
