.navbar-fixed-left {
  width: 250px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  background-color: white;
  border-width: 0px;
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 250px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 250px;
}

.navbar-fixed-left .nav-title {
    width:100%;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
    color: #444;
}
.navbar-fixed-left .nav-title:hover{
    color: #444;
    cursor: pointer;
}
.navbar-fixed-left .nav-title::after{
    content: '';
    position: absolute;
    top: 70px;
    right: 10%;
    height: 1px;
    width: 80%;
    background-color: rgba(180, 180, 180, 0.3);
}
.navbar-fixed-left .navbar-nav li{
    text-align: center;
    width: 250px;
}
.navbar-fixed-left .navbar-nav a{
    width: 230px;
    height: 50px;
    margin: 10px;
    color: #555;
}
.navbar-fixed-left .navbar-nav a:hover{
    color: white;
    background-color: #6FB524;
    box-shadow: 0 12px 20px -10px rgba(111, 181, 36, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(111, 181, 36, 0.2);
}
.navbar-fixed-left .navbar-nav a:active{
    color: white;
    background-color: #6FB524;
}
