<h1>DENTCA 3D Printed Denture</h1>
<div class="content-middle">
  <p>
    Enjoy the great benefits that Dentca dentures have provided to patients and doctors alike all over the U.S. now available
    on 3D printable material which help further streamline the process and make denture making even simpler and faster.
  </p>
  <p>
    By making our dentures fully CAD/CAM we are giving our customer truer to impression quality restorations that further reduce
    distortion and increase retention. The DENTCA 3D printable Denture Base and Teeth are made of several acrylates which
    have been previously applied to the dental field and glued before post-curing utilizing the same material used for printing
    thus improving material performance through chemical bonding. The CAD design of the teeth on a by block set allow for
    easy and accurate tooth mounting on the denture base, reducing the risk of tooth misalignment and tooth cut necessary
    when making the final restoration.
  </p>
  <p>
    Digital back up files allow for easy recovery, duplication and remake of lost/old denture prosthesis.
  </p>
  <p>
    Physical properties and biocompatibilities have passed the FDA requirements and are similar to conventional denture bases
    and acrylic teeth. The 3D Denture material is a type of acrylic similar to PMMA which has the same properties as conventional
    acrylic with the convenience of curing through UV light instead of temperature. Strength and performance remain the same
    however.
  </p>
  <div class="content-img">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img src="assets/products_description_1.jpg" style="width:100%" />
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="assets/products_description_2.jpg" style="width:100%" />
      </div>
    </div>
  </div>
  <h2>
    Are you a doctor interested in providing Dentca 3D dentures?
  </h2>
  <p>
    Contact us at info@dentca.com to find a certified Dentca 3D laboratory near you.
  </p>
  <h2>
    Are you a lab interested in manufacturing Dentca 3D dentures? Become certified today!
  </h2>
  <p>
    Dentca provides digital denture design, laboratory digital scanners, 3D printers, 3D printable try in & 3D printable final
    tooth and base materials at an affordable cost. Tooth shades on final materials are available in A1, A2, A3, A3.5, B1
    & B2 Vita equivalent. Final denture base available in Original Pink, Light Pink & Dark Pink shades..
  </p>
  <p>
    Are you interested in acquiring this technology? Contact Dentca today by emailing us at info@dentca.com
  </p>

</div>