<div class="content-middle">
  <div class="content-title">
    <h1>Become a DENTCA 4 CENTER</h1>
  </div>
  <p>
    Becoming a DENTCA-4 Center provides an exclusive treatment model that is both predictable and profitable for your practice.
    By signing into our program model, you will gain exclusivity in your zip code, reduce your chair time and laboratory
    cost, simplify your procedures and gain access to digital backup files that make restorations and bars easily duplicated.
    Our clinical advisory team will be at your fingertips providing you with personalized training and support for your cases.
  </p>
  <p>
    How does it work? The DENTCA-4 Center model requires you to invest only $10,000 which will be used as advance payment for
    9 arches of 4 implant Zirconia restorations (bars included). Each time you place an order the system will subtract from
    your total until you finalize all 9 arches, after that it will be necessary to start placing orders by credit card payments
    or you can choose to reinvest another $10,000 as a second advance. After successfully filling out an application and
    creating an account with us; you will be prompted to make the advance payment. We will let you know once you are ready
    to begin.
  </p>
  <p>
    How does being a DENTCA 4 Center help by clinic grow? With current hybrid/full mouth restoration pricing in the market, you
    can break even from your investment after delivering 2 arches to your patients. Exclusivity on your territory means no
    other doctors in your zip code will be able to offer this product, which means you can capture your market entirely.
    Do not miss this once in a lifetime opportunity to grow your practice today!
  </p>
  <img src="assets/dentca4_center.jpg" style="width: 100%; margin-top:15px; margin-bottom:15px" />
  <p>
    Want to see DENTCA 4 center location? Click <a class="click-here" routerLink="/dentca-3d">here</a>.
  </p>
</div>