.content {
    padding: 70px;
}
.content-middle {
    margin-top: 20px 
}
.content-bottom {
    margin-top: 20px 
}
.note {
    font-style: italic;
    color: #6FB524;
}
p {
    color: #444444;
}
h1 {
    color: #444444;
}
li {
    list-style-type: decimal;
    color: #444444;
}
a.click-here {
    font-size: 16px;
}