<div class="content-middle">
  <div class="row">
    <div class="content-title">
      <h1> DENTCA-TEMP Clinical Protocols</h1>
    </div>
    <ul>
      <li><a routerLink="/products/dentca-protocols/protocol2">A. First appointment detailed protocols for Complete cases</a></li>
      <li><a routerLink="/products/dentca-protocols/protocol4">B. First appointment detailed protocols for Single Arch cases</a></li>
      <li><a routerLink="/products/dentca-protocols/protocol3">C. First appointment CBCT detailed protocols for Complete cases</a></li>
      <li><a routerLink="/products/dentca-protocols/protocol7">D. First appointment CBCT detailed protocols for Singe Arch cases</a></li>
      <li><a routerLink="/products/dentca-protocols/protocol8">E. Try in appointment</a></li>
    </ul>
  </div>
</div>