<h1>FAQ</h1>
<div class="content-middle">
  <ul>
    <li>
      What brand/type of implants are supported on the DENTCA-4 system? All major brands of implants are supported by our system.
    </li>
    <li>
      What implant placement angulations are supported? DENTCA-4 uses revolutionary segmented T bars that is are specifically designed
      to CORRECT the angulations of your implant position. No need to place all the implants in parallel position, nor is
      it necessary to utilize Multi-Unit or angled abutment.
    </li>
    <li>
      Is your system compatible with cone beam/intraoral scanner solutions? Yes.
    </li>
    <li>
      If, the DENTCA-4 bars are segmented, does it mean the restoration is weaker? The segmented T-bars will have splinted effect
      after a final restoration delivered. and provides support for cantilever (22mm limit in length) which gives equal strength
      to conventional hybrid restorations.
    </li>
    <li>
      How much inter-occlusal space is required for the DENTCA-4 restoration? unlike other hybrid restorations, which require minimum
      14 mm space, our restorations are monolithic in nature and do not use denture teeth. They are designed in conjunction
      with our bar segments, therefore no minimum required space is needed. This will prevent additional osseous reduction
      during surgery.
    </li>
    <li>
      Do I need to perform bone reduction on my patients? Due to its unique design (See above question) there is no need to perform
      any bone reduction on your patients beyond the usual bone surface smoothing.
    </li>
    <li>
      How many implants can I use on my DENTCA-4? 4 to 6 implants are supported, however additional fees will be applied for 5th
      and 6th bars.
    </li>
    <li>
      Can the DENTCA-Temp be used for immediate after Full mouth extractions/immediate implant loading? Yes, it would substitute
      the immediate denture.
    </li>
    <li>
      My DENTCA-4 restoration is not seating all the way. What can I do? Leave the restoration in the patient’s mouth for a week.
      Recall the patient after time has elapsed and tighten the bars again.
    </li>
    <li>
      What tool should I use in order to screw the bars into the implants? Attach the bar screws onto the implants and tighten
      to 30 Ncm with the screwdriver and manual torque wrench (1.2mm).
    </li>
    <li>
      What material is the DENTCA-4 prosthetic made of? We offer two options: Monolithic Zirconia or Monolithic PMMA.
    </li>
    <li>
      What is the turnaround time? 3 appointments, 7 Business days between each appointment.
    </li>
    <li>
      Can the DENTCA-4 be removed for cleaning? Yes.
    </li>
    <li>
      How easy it is to replace the DENTCA-4? We keep digital files of all our designs, so duplicates can be ordered without seeing
      your patient.
    </li>
    <li>
      How should my patient care for their DENTCA-4? Water pick is a must. Cleanups must be done every 3 months.
    </li>
  </ul>
</div>
<p>
  Didn’t find what you were looking for?  Click here to Contact us and ask us a question.
</p>