<div class="content-wrap">
  <div class="content-title">
    <h1>Impressions using stone models</h1>
  </div>
  <div class="content-middle">
    <div class="row">
      <div class="col-md-10 col-sm-12">
        <ul>
          <li>
            Take both maxillary and mandibular impressions with alginate or heavy body PVS.
          </li>
          <li>
            Pour stone models. Trim/relieve models to remove irregular areas.
          </li>
          <li>
            Take a PVS bite and submit your case.
          </li>
          <li>
            Place lip ruler on the incisive papilla & record upper lip measurement, by looking at the numbers from eye level. (If measurement
            is not possible due to the presence of teeth, place it at estimated height outside the mouth and measure on top
            of the lip).
          </li>
          <li>
            Find out the desired gum and tooth shade by using a vita shade guide.
          </li>
          <li>
            Log into your account and place order online (If new to DENTCA you will need to register and create an account)
          </li>
          <li>
            Print order Sheet and shipping label and ship everything to DENTCA.
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-12">
        <img src="assets/img/dentca-immediate_protocols_stone.png" style="width: 100%; padding-left: 20px" />
      </div>
    </div>
  </div>
  <div class="content-bottom">
    <p>
      Ready to place an order? Click here to go to our ordering page.
    </p>
    <p>
      Want to learn more about the next step? Click here to go to the DENTCA-4 Temp page.
    </p>
  </div>
</div>