<div class="content-wrap">
  <div class="content-title">
    <h1>Try in appointment</h1>
  </div>
  <div class="content-middle">
    <div class="row">
      <div class="col-md-10 col-sm-12">
        <ul>
          <li>
            Remove abutments.
          </li>
          <li>
            Place the bars inside the 3D printed try in outside the mouth to ensure proper fit and to identify the bar that corresponds
            to each hole.
          </li>
          <li>
            Attach the bar screws onto the implants and tighten to 15 Ncm with the screwdriver and manual torque wrench (1.2mm).
          </li>
          <li>
            Place the 3D printed try in in the mouth and make sure it fits properly in the bars and ask patient to bite with full force.
            (If delivering a set of upper and lower repeat steps 2-4 with the lower try in)
          </li>
          <li>
            Evaluate Bite, VD, midline, occlusal plane and overjet/overbite.
          </li>
          <li>
            If the bite/occlusal plane is not ideal, take a new bite.
          </li>
          <li>
            Take the 3D printed try in out of the mouth and fill the housing spaces with light body PVS. (It is necessary to place a
            thin layer of PVS adhesive on the try in; prior to applying the light body PVS)
          </li>
          <li>
            Seat the try-in completely and ask patient to bite with full force.
          </li>
          <li>
            Gently take out the try-in out of the mouth.
          </li>
          <li>
            Place adjustment requests online and send bars and try in back to DENTCA.
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-12">
        <img src="assets/img/dentca4_protocols_tryin.png" style="width: 100%; padding-left: 20px"/>
      </div>
    </div>
  </div>
  <div class="content-bottom">
    <p class="note">
      Note: If patient does not have opposing dentition and full force biting is not possible, use manual pressure to seat denture
      as firmly as possible.
    </p>
    <p>
      Ready for the next step? Click <a class="click-here" routerLink="/products/dentca-protocols/protocol6">here</a> to go to Final Delivery Appointment.
    </p>
  </div>
</div>