footer {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid #f5f5f6;
  background-color: #f5f5f6;
}

.title-widget {
  font-size: 15px;
  font-family: Whitney-semi-bold !important;
}
ul li {
  list-style-type: none;
  padding-top: 7px;
}
ul {
  padding-left: 0px;
}
.nomargin {
  font-size: 10px;
  color: #6FB524;
}
.nomargin a {
  padding-left: 10px;
  color: #6FB524;
}
.nomargin a:hover{
  color: #6FB524 - 50;
}
ul li a{
  color: #555555;
  text-align: right;
}
ul li a:hover{
  color: #6FB524 - 50;
}