<footer>
    <div class="container">
        <div class="row">
            <!-- row -->
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <!-- widgets column left -->
                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->
                        <li class="widget-container widget_nav_menu">
                            <!-- widgets list -->
                            <h1 class="title-widget">Company</h1>
                            <ul>
                                <li><a href="#"> About Us</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- widgets column left end -->
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <!-- widgets column left -->
                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->
                        <li class="widget-container widget_nav_menu">
                            <!-- widgets list -->
                            <h1 class="title-widget">Products</h1>
                            <ul>
                                <li><a href="#">  Starter Kit</a></li>
                                <li><a href="#">  Tray</a></li>
                                <li><a href="#">  Lip Ruler</a></li>
                                <li><a href="#">  Jaw Gauge</a></li>
                                <li><a href="#">  EZ-Tracer</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- widgets column left end -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <!-- widgets column left -->
                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->
                        <li class="widget-container widget_nav_menu">
                            <!-- widgets list -->
                            <h1 class="title-widget">Traing Video</h1>
                            <ul>
                                <li><a href="#"> Module1 - Introduction</a></li>
                                <li><a href="#"> Module2 - Tray Selection</a></li>
                                <li><a href="#"> Module3 - Impression Making</a></li>
                                <li><a href="#"> Module4 - Bite Registration</a></li>
                                <li><a href="#"> Module5 - Tray in Session</a></li>
                                <li><a href="#"> Module6 - Final Delivery</a></li>
                                <li><a href="#"> Module7 - Single Arch Denture</a></li>
                                <li><a href="#"> Module8 - Implant Overdentures</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- widgets column left end -->
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"  style="margin-top: 20px">
                    <!-- widgets column left -->
                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->
                        <li class="widget-container widget_nav_menu">
                            <!-- widgets list -->
                            <a class="title-widget" style="cursor: pointer">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"  style="margin-top: 20px">
                    <!-- widgets column left -->
                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->
                        <li class="widget-container widget_nav_menu">
                            <!-- widgets list -->
                            <a class="title-widget" style="cursor: pointer">Cart</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="text-align: right;">
                <div class="social-icons">
                    <ul class="nomargin">
                        <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook fa-3x social-fb" id="social"></i></a>
                        <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter fa-3x social-tw" id="social"></i></a>
                        <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus fa-3x social-gp" id="social"></i></a>
                        <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope fa-3x social-em" id="social"></i></a>
                    </ul>
                </div>
                <div class="copyright">
                    Copyright © 2016 <b>DENTCA</b>, Inc. All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</footer>