<div class="content-wrap">
  <div class="content-title">
    <h1>First appiontment CBCT detailed protocols for Single Arch cases</h1>
  </div>
  <div class="content-middle">
    <div class="row">
      <div class="col-md-10 col-sm-12">
        <ul>
          <li>
            Remove the abutments and place the impression copings.
          </li>
          <li>
            Relieve a maxillary disposable tray to take an open tray impression.
          </li>
          <li>
            Position the tray in the mouth to ensure the tray fits around the implants.
          </li>
          <li>
            Place heavy body PVS on the disposable tray and add a light body layer on top. (One step impression)
          </li>
          <li>
            Place light body PVS around the impression copings (No need to splint the impression).
          </li>
          <li>
            Seat the tray in the mouth and wait for it to polymerize according to manufacturer’s instructions.
          </li>
          <li>
            Unscrew impression copings and carefully remove the impression from the mouth. Ensure all impression copings are securely
            in place, if there is movement it will be necessary to retake the impression.
          </li>
          <li>
            Take an alginate impression of the opposing dentition and pour a stone model.
          </li>
          <li>
            Take a CBCT scan by having the patient close completely by wearing its existing denture/DENTCA-4 temporary restorations(it’s
            important that the patient does not use the biting stick.) Place the abutments back in the mouth. If the single
            arch is opposing natural dentition proceed to step 24. If the single arch is opposing a denture, proceed to step
            10.
          </li>
          <li>
            Select the appropriate size maxillary DENTCA tray and remove the posterior attachment. Take a heavy body PVS impression (It’s
            important to border mold the upper lip frenum area).
          </li>
          <li>
            Relieve any exposed tray areas, in order to create your custom tray.
          </li>
          <li>
            Apply Light Body PVS over heavy body impression (It’s important to border mold the upper lip frenum area).
          </li>
          <li>
            Select the appropriate single arch attachment, place bite registration material on the Single Arch attachment; and position
            it on the dentate arch in order to obtain an occlusal imprint. (For single arch upper proceed to step 13 and
            then skip to step 15; for single arch lower proceed to step 14.)
          </li>
          <li>
            Place the pin on the single arch attachment and place the trays back in the mouth.
          </li>
          <li>
            Clean Lower impression releasing the lingual grooves. Attach the tracing pin to the lower tray, until you feel it snap into
            place.
          </li>
          <li>
            Adjust the pin height to the desired VDO.
          </li>
          <li>
            Attach EZ tracer to upper tray & place both trays back in the patient’s mouth.
          </li>
          <li>
            Ask patient to perform protrusive and retrusive movements softly.
          </li>
          <li>
            Locate your desired CR point & create a dimple in which center will be the traced CR position.
          </li>
          <li>
            Seat trays into the mouth. Make sure the pin locks into the dimple and that the trays are not touching in the posterior section.
          </li>
          <li>
            Stabilize lower tray with your fingers to prevent tilting & Inject bite registration material between the trays.
          </li>
          <li>
            Remove the trays out of the mouth in one piece.
          </li>
          <li>
            For single arch upper, place lip ruler into the mouth, resting on the incisive papilla & record upper lip measurement, by
            looking at the numbers from eye level.
          </li>
          <li>
            Find out the desired gum and tooth shade by using a vita shade guide.
          </li>
          <li>
            Log into your account and place order online (If new to DENTCA you will need to register and create an account).
          </li>
          <li>
            E-file upload list required for the web order. Patient Images: Full facial view Image with the existing denture (Open mouth
            using a mouth gag/retractor with the bite closed), Side view images with and w/o smile.
          </li>
          <li>
            Please provide Implant Information (Brand, Model, Diameter and Length) when placing order.
          </li>
          <li>
            Print order Sheet and shipping label and ship everything to DENTCA.
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-12">
        <img src="assets/img/dentca4_protocols_singlearch.png" style="width: 100%; padding-left: 20px" />
      </div>
    </div>
  </div>
  <div class="content-bottom">
    <p class="note">
      Note: If you previously delivered a DENTCA-Temp and performed these steps before, there is no need to do it again; simply
      place a DENTCA-4 order online and refer to the DENTCA-Temp order number.
    </p>
    <p>
      Ready for the next step? Click <a class="click-here" routerLink="/products/dentca-protocols/protocol5">here</a> to Try in Appointment.
    </p>
    <p>
      Have a CBCT scanner? Click <a class="click-here" routerLink="/products/dentca-protocols/protocol3">here</a> for simplified Complete and Single Arch CBCT steps.
    </p>
  </div>
</div>