<div class="content-wrap">
  <div class="content-title">
    <h1>Final Delivery</h1>
  </div>
  <div class="content-middle">
    <div class="row">
      <div class="col-md-10 col-sm-12">
        <ul>
          <li>
            Remove abutments.
          </li>
          <li>
            Check DENTCA-Temp in the mouth to ensure it seats properly. If not please enlarge holes with a slow speed hand piece and
            an acrylic bur.
          </li>
          <li>
            Place DENTCA-Temp in the mouth and fill spaces around abutments with auto cure acrylic for temporary Provisionals.
          </li>
          <li>
            Unscrew DENTCA-Temp once cured and grind out excess acrylic. Grind off posterior extensions in appliance
          </li>
          <li>
            If delivering a complete set, Repeat steps with opposing DENTCA-Temp restoration; making sure to check the bite before applying
            acrylic around the abutments.
          </li>
          <li>
            Position the DENTCA-Temp restoration(s) back in the mouth and screw it in. Adjust the occlusion as necessary.
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-12">
        <img src="assets/img/dentca-temp_protocols_tryin.png" style="width: 100%; padding-left: 20px" />
      </div>
    </div>
  </div>
  <div class="content-bottom">
    <p>
      Ready to place an order? Click <a class="click-here" routerLink="/home">here</a> to go to our ordering page.
    </p>
    <p>
      Want to learn more about the next step? Click <a class="click-here" routerLink="/products/dentca-over">here</a> to go to the DENTCA-4 product page.
    </p>
  </div>
</div>