<div class="content-middle">
  <div class="row">
    <div class="content-title">
      <h1> Clinical Protocols</h1>
    </div>
    <ul>
      <li><a routerLink="/products/dentca-protocols/protocol9">A. Impressions using DENTCA trays(Complete)</a></li>
      <li><a routerLink="/products/dentca-protocols/protocol10">B. Impressions using DENTCA trays(Single Arch)</a></li>
      <li><a routerLink="/products/dentca-protocols/protocol11">C. Impressions using stone models</a></li>
    </ul>
  </div>
</div>