<div class="content-wrap">
  <div class="content-title">
    <h1>Overview</h1>
  </div>
  <div class="content-middle">
    <img src="assets/img/dentca4_protocols_overview.png" style="width: 100%">
  </div>
  <div class="content-bottom">
    <p>
      Want the full protocol details? Click <a class="click-here" routerLink="/products/dentca-protocols">here</a> to go back.
    </p>
    <p>
      Have a CBCT scanner? Click <a class="click-here" routerLink="/products/dentca-protocols/protocol3">here</a> for simplified Complete and Single Arch CBCT steps.
    </p>
  </div>
</div>