.content {
    padding: 70px;
}
.content-middle {
    margin-top: 20px 
}
.content-bottom {
    margin-top: 20px 
}
p {
    color: #444444;
}
h1 {
    color: #444444;
}
a.click-here {
    font-size: 16px;
}