<img src="assets/banner03.jpg" style="width:100%" />
<div class="content-middle">
    <div class="row">
        <div class="col-lg-5 col-md-5">
            <div class="welcome">
                <h1>Welcome to <b>DENTCA</b></h1>
                <p>
                    DENTCA provides high quality, 100% accurate dentures using award-winning computer-aided design (CAD) and computer-aided manufacturing
                    (CAM) with state-of-the-art 3D printing technology. Research has shown our advanced 3D software provides
                    increased accuracy, creates more comfortable dentures for patients, and allows you to complete a full
                    denture case 2.5x faster.
                </p>
            </div>
        </div>
        <div class="col-lg-7 col-md-7">
            <div class="notice">
                <h1>2 Steps! 2 Visits! 2 Easy!</h1>
                <p>
                    Step 1: Spend 45 minutes to take an impression of your patient's mouth using DENTCA’s patented tray system. Send us the impression.
                </p>
                <p>
                    Step 2: Approximately 5 days after we receive your impression, your final denture will be shipped out.** Your patient will
                    return home with a new smile on their face in only 2 visits and less than 1 hour of chair time!
                </p>
                <p>
                    **If you choose the free try-in option, the try-in will be shipped out 3 days after we receive your impression
                </p>
            </div>
        </div>
    </div>
</div>
<div class="content-img">
    <img src="assets/for_patient.png" style="width:100%" />
    <div style="height:3px"></div>
    <img src="assets/for_dentist.png" style="width:100%" />
</div>